*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    
}

.page{
    background: white;
    border: 2px solid red;
    color: white;
    text-align: center;
    width: 70%;
    margin: auto;
    /* height: 100%; */
}

/* =========COLORS============= */

.c-violet{
    background: violet;
}

.c-white{
    background: white;
}

.c-grey{
    background: grey;
}

.c-red{
    background: red;
}

.c-orange{
    background: orange;
}

.c-aqua{
    background: aqua;
}

.c-yellow{
    background: yellow;
}

.c-green{
    background: green;
}

.c-pink{
    background: pink;
}

.c-aquamarine{
    background: aquamarine;
}

.c-blue{
    background: blue;
}

.c-black{
    background: black;
}


/* ==============HEIGHT and WIDTH=================== */

.h-40{
    height: 40px;
}

.h-80{
    height: 80px;
}

.h-90{
    height: 90%;
}

.h-115{
    height: 115px;
}
.h-130{
    height: 130px;
}

.h-170{
    height: 170px;
}

.h-240{
    height: 240px;
}

.h-220{
    height: 220px;
}

.h-250{
    height: 250px;
}

.h-300{
    height: 300px;
}

.w-25{
    width: 25%;
}

.w-33{
    width: 33.3333333333%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.content{
    display: flex;
    flex-direction: row;
}

.into-content{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.center-content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.right-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cc{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


















